.drawer-col-md-3{
    max-width: 328px !important;
    padding-right: 20px !important;
}

.nav-drawer{
    background-color: $white;
    min-height: 85vh;
    border: 1px solid rgb(216, 216, 216);
}

body{
    background-color: #f2f2f2 !important;
}

.drawer-col-md-3 .nav-link{
    color: #000 !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-bottom: 1px solid rgb(238, 238, 238);
    font-weight: bolder;
}

.heading-strip{
    min-width: 250px;
    max-width: fit-content;
}

.nav-drawer .nav-link.active {
    border-left: 4px solid $secondary;
    background-color: rgb(240, 240, 240);
}